footer {
  width: 100%;
  /* text-align: center; */
  position: absolute;
  bottom: 0;
  /* padding-bottom: 0.5rem; */
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F2F2F2;
  border-top: double #A1A4A6;
}

footer div:not(:last-child) {
  margin-right: 1.5rem;
}

footer p {
  color: #262626;
  margin-bottom: 0.5rem;
}

.footer-title {
  font-weight: bold;
}

.social-links {
  margin-top: 2rem;
  /* padding: 1rem 0; */
}

.social-links a {
  text-decoration: none;
  margin: 0 0.5rem;
  color: #727273;
}

/* .social-links .twitter {
  color: #1DA1F2;
}

.social-links .linkedin {
  color: #2867B2;
}

.social-links .github {
  color: #333;
} */

.social-links .mail {
  color: #727273;
}