header {
  margin-bottom: 1.45rem;
}

header div {
  margin: 0 auto;
  padding: 1rem;
}

.header-title {
  display: inline;
}

.header-title a {
  color: white;
  text-decoration: none;
  /* Linear Gradient */
  background-image: linear-gradient(to right, #727273, #262626);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation {
  float: right;
  padding-top: 0.5rem;
}

.navigation a {
  text-decoration:none;
  color: #727273;
  margin-right: 0.5rem;
}

.navigation a:hover {
  border-width: 0;
  border-color: #262626;
  border-style: solid;
  border-bottom-width: 2px;
}